.navbar {
    display: flex;
    padding: 20px 10px;
    color: #242424;
    background-image: url(/image/green.png);
    background-size: cover;
    background-position: center;    
    padding: 20px;
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;
}

.navbar a {
    color: #fff;
    margin-right: 8em;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:houver {
    color: #999;
}